:root {
  --bg-color:#B7DA5D;
  --green:   #B7DA5D;
  --brown:   #efb391;
  --purple:  #bc4878;
  --white:   #F1FBF2;
  --pink:    #FF5170;
  --blue:    #009FEB;
  --black:   #000000;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(90deg, white, var(--bg-color));
  transition: background-color 0.5s ease;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  text-align: center;
}
