.button-play-mus{
    display: block;
    background-color: transparent;
    width: 100%;
    color: var(--white);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    padding: 0;
    transition: all 0.3s ease-in-out;
    position: relative;
}

.button-play-mus:hover{
    transform: scale(1.1);
}

.icon-button{
    height: 60px;
    width: 60px;
    position: relative;
    z-index: 1;
}

.button-play-mus.crossed::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 5px;
    background-color: red;
    z-index: 2;
    transform: translate(-50%, -50%) rotate(45deg);
    transform-origin: center;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}